*~
*.o
*.lo
*.la
.deps
.libs
ABOUT-NLS
aclocal.m4
auto-config.h
auto-config.h.in
autom4te.cache
config.log
config.status
configure
curlpp/
libtool
m4
makefile
makefile.in
quote/
stamp-h1
TAGS
test-driver
trader-desk.pc
trader-desk/trader-desk
